{
    ApplicationDescription = "Simple agenda and calendar application";
    ApplicationIcon = Calendar.tiff;
    ApplicationName = SimpleAgenda;
    ApplicationRelease = 0.44;
    FreeDesktopCategories = (
	"Office",
	"Calendar"
    );    			  
    Authors = (
	"Philippe Roussel <p.o.roussel@free.fr>"
    );
    Copyright = "Copyright (C) 2007-2017";
    CopyrightDescription = "Released under GPL Version 2 or any later version";
    FullVersionID = 0.44;
    NSExecutable = SimpleAgenda;
    NSIcon = Calendar.tiff;
    NSMainNibFile = Agenda.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSServices = (
	{
	    NSKeyEquivalent = {
		default = t;
	    };
	    NSMenuItem = {
		default = "SimpleAgenda/Create Task";
	    };
	    NSMessage = newTask;
	    NSPortName = SimpleAgenda;
	    NSSendTypes = (
		NSStringPboardType
	    );
	}
    );
    NSTypes = (
	{
	    NSIcon = "ical-file.tiff";
	    NSUnixExtensions = (
		ics
	    );
	}
    );
    URL = "https://github.com/poroussel/simpleagenda";
}
