{
    ApplicationDescription = "Simple agenda and calendar application";
    ApplicationIcon = Calendar.tiff;
    ApplicationName = SimpleAgenda;
    ApplicationRelease = 0.27;
    Authors = (
	"Philippe Roussel <p.o.roussel@free.fr>"
    );
    Copyright = "Copyright (C) 2007";
    CopyrightDescription = "Released under GPL Version 2 2 2";
    FullVersionID = 0.27;
    NSExecutable = SimpleAgenda;
    NSIcon = Calendar.tiff;
    NSMainNibFile = Agenda.gorm;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSDocumentClass = "";
	    NSHumanReadableName = "";
	    NSIcon = "ical-file.tiff";
	    NSName = "";
	    NSRole = "";
	    NSUnixExtensions = (
		ics
	    );
	}
    );
    URL = "http://coyote.octets.fr/pub/gnustep/";
}